.time{
	color: #52478B;
}
#b{
	color: #eeeeee;
}
#heaven{
	font-family: 'Nanum Brush Script', cursive;
}
#sorry{
	font-family: 'Indie Flower', cursive;
}
#white{
	color:#ffffff;
}
a:hover{
	text-decoration: none;
	color:#6495ED;
}
#sizz{
	font-size: 46px;
}
#co{
	color:#7196e1;
}
